@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color:#e5f0f5;
  --secondary-color:#ff7010;
  --dark-color1:#031d2e;
  --dark-color2:#17384e;
  --white-color:#ffffff;
  --another-color:#062538;
  --transition:0.4s ease-in-out;
}

body{
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  background-color: var(--dark-color1);
  color: var(--primary-color);
  /* font-family: 'Hanalei Fill', cursive; */
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
.as_service_box {
  background-color: #07273c;
  /* padding: 50px 22px; */
  /* margin-top: 30px; */
  border-radius: 3px;
  /* height: 320px; */
}
.as_service_box .as_icon {
  width: 80px;
  background-color: #10334a;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: relative;
  transition: all 0.3s linear;
}
.as_service_box .as_icon:after {
  border: 1px dashed #173f59;
  content: '';
  position: absolute;
  left: -10px;
  top: -10px;
  bottom: -10px;
  right: -10px;
  border-radius: 100%;
}
.as_service_box:hover .as_icon {
  background-color: var(--secondary-color);
}
.as_service_box:hover .as_icon:after{
  border-color: var(--secondary-color);
  animation: spin 9s infinite linear;
  -webkit-animation: spin 9s infinite linear;
  -moz-animation: spin 9s infinite linear;
}
.serif{
  font-family: 'Philosopher', sans-serif;
}

.hero{
  /* background-image: url(./assets/images/bg1.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Philosopher', sans-serif;
}
.as_contact_expert .as_icon {
  width: 50px;
  height: 50px;
}
.as_contact_expert {
  display: flex;
  background-color: var(--dark-color2);
  border-radius:10px;
  padding:25px;
  /* margin-top:40px; */
  align-items:center;
  max-width: 470px;
}
.as_contact_expert .as_icon{
  width:65px;
  height:65px;
  background-color:var(--secondary-color);
  border-radius:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-right:25px;
  position: relative;
}
.as_contact_expert .as_icon:before{
  position: absolute;
  left: -7px;
  top: -7px;
  bottom: -7px;
  right: -7px;
  border: 1px dashed var(--secondary-color);
  content: '';
  border-radius: 100%;
}
.as_contact_expert:hover .as_icon:before{
  animation: spin 9s infinite linear;
  -webkit-animation: spin 9s infinite linear;
  -moz-animation: spin 9s infinite linear;
}
.as_contact_expert .as_icon:before{
  position: absolute;
  left: -7px;
  top: -7px;
  bottom: -7px;
  right: -7px;
  border: 1px dashed var(--secondary-color);
  content: '';
  border-radius: 100%;
}
.as_service_box .as_icon {
  width: 80px;
  background-color: #10334a;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: relative;
  transition: all 0.3s linear;
}
.as_service_box .as_icon:after {
  border: 1px dashed #173f59;
  content: '';
  position: absolute;
  left: -10px;
  top: -10px;
  bottom: -10px;
  right: -10px;
  border-radius: 100%;
}
