.hero{
  @apply text-white;
  background-image: url(../public/images/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Philosopher', sans-serif;
}